.icons-section
  display: flex
  padding: 15px 0 15px 0

.icons-col
  width: calc(100% / 3)
  text-align: center
  display: flex
  justify-content: center
  align-items: center

.icons-icon
  max-width: 7%
  margin-right: 20px

.form-section
  background: #e5ceae
  padding: 15px 0 15px 0
  button
    background: #30306d
    color: white
    border: none
    padding: 10px

.form-item
  margin: 15px
  label
    position: relative
    left: -7%
  input
    outline: none
    border: solid 1px #b9b9b9
    border-bottom: solid 1px #30306d
    font-size: 18px
    padding: 5px
    margin-left: -4%

.brands-section, .press-section, .stars-section
  display: flex

.brands-section, .stars-section
  border-bottom: solid 1px #e5ceae

.stars-section
  padding: 10px 0

.label-col
  width: 20%
  position: relative
  color: #929292

.img-col
  width: 80%

.stars-images
  text-align: center
  img
    max-width: calc(100% / 10)
    vertical-align: middle
    margin: 0 5px
